@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
/*   color: #213547;
  background-color: #f9f9f9; */
  background-color: hsl(0, 3%, 22%);
    color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f9f9f9;
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}